<%= @trial.name %> 様<br>
<br>
この度は、鼎立塾の無料入学会へお申し込みいただき、誠にありがとうございます。<br>
当日、お会いできるのを楽しみにしております。<br>
<br>
【お車でお越しの方】<br>
以下の住所まで、直接お越しください。<br>
集合時間は13時45分（全日程共通）です。<br>
<br>
FARMERS KITCHEN Noracafe <br>
兵庫県丹波市市島町喜多1467<br>
https://maps.app.goo.gl/EG7ZV4LvWAa13ZWs5<br>
<br>
【電車でお越しの方】<br>
最寄駅から送迎いたします。<br>
スタッフの関係上、電車の到着時刻に合わせて一便のみの運行となります。<br>
遅れる際はご一報いただきますよう、何卒ご協力のほどよろしくお願い申し上げます。<br>
<br>
通常送迎予定時刻<br>
13時35分<br>
（変更等ある場合のみ、別途ご連絡させていただきます。）<br>
<br>
最寄駅はJR福知山線黒井駅となります。<br>
以下のサイトで電車の到着時刻をご確認の上、送迎時間に駅前ロータリーまでお越しください。<br>
https://www.jr-odekake.net/eki/timetable?id=0630313<br>
<br>
<br>
以下の内容でお申し込みを受付いたしました。<br>
<br>
【お名前】：<%= @trial.name %>（<%= @trial.name_kana %>）<br>
【件名】：体験会への参加申込 <br>
【住所】：<%= @trial.address %><br>
【電話番号】：<%= @trial.tell %><br>
【メールアドレス】：<%= @trial.email %><br>
【参加人数】：<%= @trial.participants %><br>
【希望日時】：<%= @trial.date %><br>
【到着時間】：<%= @trial.arrival_time %><br>
【交通手段】：<%= @trial.transportation %><br>
【備考】：
<span style="white-space: pre-wrap;"><%= @trial.message %></span>
<br>
<br>
それでは、当日お会いできるのを楽しみにしております。<br>
<br>
鼎立塾<br>
兵庫県丹波市春日町多田1534<br>
<br>