
<div class=" px-4 py-8 bg-white rounded-lg shadow dark:bg-gray-800 sm:px-6 md:px-8 lg:px-10">
    <section class="text-black body-font p-5">
      <div class="container px-5 py-8 mx-auto">
        <div class="px-6">
         <h1 class="font-semibold text-2xl border-b pb-6 text-center">
          お申し込み内容確認
         </h1>
         <div class="flex justify-between my-6">
          <span class="font-semibold text-lg uppercase">お名前</span>
          <span class="font-semibold text-lg"><%= @trial.name %></span>
         </div>
         <div class="flex justify-between my-6">
         <span class="font-semibold text-lg uppercase">ふりがな</span>
         <span class="font-semibold text-lg"><%= @trial.name_kana %></span>
        </div>
        <div class="flex justify-between my-6">
        <span class="font-semibold text-lg uppercase">ご住所</span>
        <span class="font-semibold text-lg"><%= @trial.address %></span>
       </div>
         <div class="flex justify-between my-6">
          <span class="font-semibold text-lg uppercase">電話番号</span>
          <span class="font-semibold text-lg"><%= @trial.tell %></span>
         </div>
         <div class="flex justify-between my-6">
          <span class="font-semibold text-lg uppercase">メールアドレス</span>
          <span class="font-semibold text-lg"><%= @trial.email %></span>
         </div>
         <div class="flex justify-between my-6">
          <span class="font-semibold text-lg uppercase">参加予定人数</span>
          <span class="font-semibold text-lg"><%= @trial.participants %></span>
         </div>
         <div class="flex justify-between my-6">
          <span class="font-semibold text-lg uppercase">参加希望日程</span>
          <span class="font-semibold text-lg"><%= @trial.date %></span>
         </div>
         <div class="flex justify-between my-6">
          <span class="font-semibold text-lg uppercase">備考</span>
          <span class="font-semibold text-lg"><%= @trial.message %></span>
         </div>
     
    

      <div class="d-flex">
        
        <%= form_with model: @trial, url: done_customer_trials_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :name_kana %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :tell %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :participants %>
          <%= f.hidden_field :date %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '送信', class: "w-full cursor-pointer focus:outline-none text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %></div>
        <% end %>
        </div>

        <div>
        <%= form_with model: @trial, url: back_customer_trials_path do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :name_kana %>
            <%= f.hidden_field :address %>
            <%= f.hidden_field :tell %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :participants %>
            <%= f.hidden_field :date %>
            <%= f.hidden_field :arrival_time %>
            <%= f.hidden_field :transportation %>
            <%= f.hidden_field :message %>
          <div><%= f.submit '入力画面に戻る', class: "w-full cursor-pointer focus:outline-none text-white bg-pink-300 hover:bg-pink-400 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %></div>
        <% end %>
        </div>
      </div>

      </div>
      </div>
    </section>

</div>