<!--Hero-->
    
<div class="relative h-screen overflow-hidden bg-indigo-900">
<%= image_tag "tateshina.jpeg", class: "absolute object-cover w-full h-full" %>
<!--<img src="/assets/tateshina.jpeg/" class="absolute object-cover w-full h-full"/>-->
<div class="absolute inset-0 bg-black opacity-25">
</div>

<div class="container relative z-10 flex items-center px-6 py-32 mx-auto md:px-12 xl:py-40">
    <div class="relative z-10 flex flex-col items-center w-full">
        <h1 class="mt-10 pb-10 font-extrabold leading-tight text-center text-white text-4xl sm:text-6xl">
        自然と人の未来のために
        </h1>
        <%= link_to '党に参加する', pages_join_path, { :class => "mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank"} %>
    </div>
</div>
</div>


<section class="text-gray-600 body-font bg-white">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-left lg:w-3/3 w-full">
      <h1 class="title-font sm:text-4xl text-center text-3xl mb-4 font-bold text-gray-900">結党宣言</h1>
      <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
      <p class="mb-8 leading-relaxed text-xl">全ての生命を尊重し、全ての生命と共に住まう生き方を実現するために 政体における腐敗を排し、3本(三党鼎立)の足を持って日本を支える 真に安定した国家の実現を目指すものである。<br><br>
      真の資本は、人を含む自然循環であり、単純に金融価値に置き換わるものではない。そのため、私たちは、生態系の一部としての自覚を持ち、自然と調和し、自然循環を毀損せずに生産活動を行うことで、人口増進、開発、発展を進める必要があると考える。<br>
      (自然主義経済の推進、並びに、これによる経済成長を促進)<br><br>
      真の国力とは、国に住む「人」であり、「人の生活」そのものであると考える。そのため、住民が健康的な環境で生活し、自分たちの能力を最大限に発揮できるような社会環境を整えることで、国力を増大させることが、私たちの主たる目的となる。<br><br>
      そして、経済的価値を人間の価値に優先するのではなく、人々の純粋な喜びに価値を置き、職種や業界に縛られることなく、お互いの特徴を生かしあう社会を奨励し、真の人本主義に則った、全員が参加できる社会を目指す。<br><br>
      また、女性の価値を経済的な指標に頼らずに、最大化し、出産、育児を強く奨励し、家庭円満を国家の基礎とする。<br>
      (人本主義に則った社会形成)<br><br>
      戦争を回避し、戦争を必要としない世界を目指すため、憲法の改正、特に第9条の改正は行わず、国際関係の中で、その一点を実現すべく徹底した平和主義による国際活動を行う。
      <br>(平和主義)<br><br>
      我々の活動は、人の不幸や、恐れ、暴力を必要とする今般の貨幣価値の維持手法に真っ向から反対するものであり、自然循環のごとき、新たらしくて、伝統的な助け合うことで生まれる秩序を人間社会に実現するものである。
      <br><br>今こそ、自然と人が大調和し、大発展を遂げるために知恵を結集する為の依代となることを誓うものである。<br><br>
      右宣言する。
      </p>
    </div>
  </div>
</section>
<section class="bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h2 class="w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
      政策理念
    </h2>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    
    <div class="flex flex-wrap justify-center">
      <div class="w-5/6 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6 text-center italic">
          自然の声を立法に反映する
        </h3>
        <p class="text-gray-600 mb-8" style="font-family: 'Hiragino Kaku Gothic Pro';">
        自然の声の代弁者として、国会の場に立ち、その意思を立法に反映することで、人の行いを自然と調和し、真に持続可能性のあるものへと昇華し、また、原始的な生活に完全に戻るわけではなく、今の文明の延長線上に位置する、新しい時代へと発展させていくことに努力してまいります。
          <br />
          <br />
        </p>
      </div>
    </div>
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
       <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1037 453.21069" xmlns:xlink="http://www.w3.org/1999/xlink"><title>outdoors</title><circle cx="34.30495" cy="149.05944" r="21.92017" fill="#6c63ff" opacity="0.4"/><circle cx="724.13688" cy="146.13507" r="31.2479" fill="#6c63ff" opacity="0.4"/><circle cx="666.30495" cy="161.05944" r="21.92017" fill="#6c63ff" opacity="0.4"/><rect x="40.61522" y="301.42139" width="303" height="151" fill="#3f3d56"/><rect x="708.61522" y="302.42139" width="303" height="150" fill="#3f3d56"/><rect x="374.61522" y="302.42139" width="303" height="150" fill="#3f3d56"/><rect x="40.61522" y="149.42139" width="303" height="156" fill="#f2f2f2"/><rect x="374.61522" y="149.42139" width="303" height="156" fill="#f2f2f2"/><rect x="708.61522" y="149.42139" width="303" height="156" fill="#f2f2f2"/><rect x="942.01058" y="410.29338" width="1.57915" height="101.36107" transform="translate(-114.54009 -148.56177) rotate(-4.46716)" fill="#3f3d56"/><path d="M979.11613,472.81608c0,30.52116-24.47381,58.42135-24.47381,58.42135a171.64261,171.64261,0,0,1-9.47373-55.26344c0-30.52115,4.24154-55.26344,9.47373-55.26344S979.11613,442.29493,979.11613,472.81608Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><path d="M909.72968,486.67624c11.71148,28.18478,45.01761,44.55823,45.01761,44.55823a171.6425,171.6425,0,0,0-12.457-54.6683c-11.71149-28.18479-25.12237-49.40552-29.954-47.39784S898.0182,458.49145,909.72968,486.67624Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><circle cx="857.35277" cy="187.05269" r="10.26321" fill="#3f3d56"/><circle cx="861.30016" cy="180.73687" r="4.73687" fill="#6c63ff"/><rect x="353.01058" y="234.29338" width="1.57915" height="101.36107" transform="translate(-102.62116 -194.97227) rotate(-4.46716)" fill="#3f3d56"/><path d="M390.11613,296.81608c0,30.52116-24.47381,58.42135-24.47381,58.42135a171.64261,171.64261,0,0,1-9.47373-55.26344c0-30.52115,4.24154-55.26344,9.47373-55.26344S390.11613,266.29493,390.11613,296.81608Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><path d="M320.72968,310.67624c11.71148,28.18478,45.01761,44.55823,45.01761,44.55823a171.6425,171.6425,0,0,0-12.457-54.6683c-11.71149-28.18479-25.12237-49.40552-29.954-47.39784S309.0182,282.49145,320.72968,310.67624Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><circle cx="268.35277" cy="11.05269" r="10.26321" fill="#3f3d56"/><circle cx="272.30016" cy="4.73687" r="4.73687" fill="#6c63ff"/><rect x="582.28212" y="415.88902" width="1.57915" height="101.36107" transform="translate(-186.18911 -47.76294) rotate(-15.73711)" fill="#3f3d56"/><path d="M621.00174,471.08608c5.9648,29.93263-12.5845,62.07779-12.5845,62.07779A171.64276,171.64276,0,0,1,588.326,480.81753c-5.9648-29.93263-6.64048-55.02675-1.50918-56.04928S615.03694,441.15346,621.00174,471.08608Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><path d="M555.662,498.23929c16.99385,25.35252,52.85764,34.90116,52.85764,34.90116a171.64276,171.64276,0,0,0-22.9007-51.17966c-16.99386-25.35251-34.29334-43.54314-38.63949-40.6299S538.6681,472.88678,555.662,498.23929Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><circle cx="487.82593" cy="194.39407" r="10.26321" fill="#3f3d56"/><circle cx="490.46289" cy="187.42859" r="4.73687" fill="#6c63ff"/><rect x="585.89427" y="465.19653" width="101.36107" height="1.57915" transform="translate(-142.14073 611.72698) rotate(-64.10356)" fill="#3f3d56"/><path d="M661.92345,494.56115c-15.428,26.33472-50.648,38.03682-50.648,38.03682a171.64269,171.64269,0,0,1,19.76062-52.47206c15.428-26.33472,31.59463-45.53919,36.10915-42.89439S677.35146,468.22643,661.92345,494.56115Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><path d="M595.04828,471.44632c-4.14193,30.2388,16.31922,61.20216,16.31922,61.20216a171.6427,171.6427,0,0,0,16.88573-53.46655c4.14193-30.2388,3.29733-55.3278-1.88646-56.03785S599.19022,441.20751,595.04828,471.44632Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><circle cx="577.20933" cy="197.00002" r="10.26321" fill="#3f3d56"/><circle cx="583.80783" cy="193.54585" r="4.73687" fill="#6c63ff"/><path d="M373.68828,361.67s-8.12905-23.0323-14-15.80648,9.03228,19.41939,9.03228,19.41939Z" transform="translate(-81.5 -223.39465)" fill="#a0616a"/><path d="M412.07545,339.08927l-4.89019,1.81234s-2.33563,10.38123-1.4324,12.18769,1.35484.45161,0,4.06452-5.41937,13.0968-5.871,14.45164-26.1936-8.58066-26.1936-13.54841c0,0-5.41937,6.32259-8.12905,7.67743,0,0,29.80651,21.67747,33.871,24.38715s6.3226,1.35484,9.93551-1.80646,18.96778-29.35489,18.96778-29.35489Z" transform="translate(-81.5 -223.39465)" fill="#575a89"/><path d="M398.97865,499.41216s.45161,4.96775,1.35484,5.41936,7.67744,11.742,0,14-12.19357,1.35484-14,2.25807-33.41942,2.70968-33.871-2.25807,15.35487-5.871,15.35487-5.871,14.45164-9.48389,16.70971-14.45164S398.97865,499.41216,398.97865,499.41216Z" transform="translate(-81.5 -223.39465)" fill="#2f2e41"/><path d="M490.65624,508.44443s10.83874,18.51617,8.129,20.77424-29.09883,10.487-32.9678,10.83873c-4.96775.45161-8.58066-3.61291-4.51614-5.871s12.64519-11.742,12.64519-14.90326v-8.129Z" transform="translate(-81.5 -223.39465)" fill="#2f2e41"/><path d="M501.04336,387.412s9.48389,11.742-5.41936,30.70973l-24.83876,31.613s15.35487,24.38715,15.80648,37.03233,3.61291,9.93551,4.51614,15.35487,4.96775,2.70968,1.80645,6.77421-14.90325,7.67743-18.51616,4.51614a11.196,11.196,0,0,1-3.61291-9.03228c0-1.80645-6.32259-12.19357-6.77421-15.35487s-17.16132-28.90328-17.16132-28.90328-5.41937-15.35487.90323-23.93553,10.50058-20.75047,10.50058-20.75047-18.62963,22.55693-31.72643,27.97629c0,0-4.96775.90323-4.06452,3.1613s0,3.61291-1.35484,5.871-10.83874,28.45166-14,35.22587-1.80646,10.83873-5.41937,13.0968-19.871.45161-19.871-1.80646,2.25807-8.129,3.61291-11.29034,12.19357-39.742,11.29034-46.0646.45162-14.90326,7.22582-18.51617,41.09685-32.9678,42.90331-32.9678S501.04336,387.412,501.04336,387.412Z" transform="translate(-81.5 -223.39465)" fill="#2f2e41"/><circle cx="328.76899" cy="74.14615" r="18.96778" fill="#a0616a"/><path d="M425.62386,299.34726s5.871,10.38712,13.0968,11.742-18.96778,22.12907-18.96778,22.12907-6.32259-19.871-11.742-20.77423S425.62386,299.34726,425.62386,299.34726Z" transform="translate(-81.5 -223.39465)" fill="#a0616a"/><path d="M407.1077,341.799c0,5.871,17.61294,22.58069,17.61294,22.58069l16.7097,14s.45162,4.96775,2.25807,5.41937,4.06453.45161,2.25807,3.16129-6.32259,8.58066-2.25807,9.48389a33.19934,33.19934,0,0,0,3.69869.35224c1.08394.06324,2.35741.12195,3.7891.17614,3.3419.11742,7.52385.19419,12.05355.16258q1.93071-.0068,3.929-.04516c17.07554-.33871,36.85625-2.30324,35.23943-8.77485-2.70968-10.83873-.90322-14.45164-6.7742-20.32262s-15.35487-26.1936-15.35487-26.1936-18.96778-32.06457-34.77426-32.06457l-3.28324-.8626a7.51867,7.51867,0,0,0-8.20579,3.15228c-3.17034,4.82776-8.16973,12.08067-11.09166,14.42-4.51614,3.61291-5.22068,1.02065-5.22068,1.02065S407.1077,335.928,407.1077,341.799Z" transform="translate(-81.5 -223.39465)" fill="#575a89"/><path d="M447.30132,410.44425s-13.0968,20.32262-4.96775,23.93553,12.64519-21.22585,12.64519-21.22585Z" transform="translate(-81.5 -223.39465)" fill="#a0616a"/><path d="M422.66905,295.39838c-.728-.09187-.95819-1.01039-1.08072-1.73382-.65614-3.87407-3.54323-7.54772-7.42237-8.17311a10.50968,10.50968,0,0,0-4.42234.3564,16.77943,16.77943,0,0,0-5.67433,2.793,9.35972,9.35972,0,0,1-2.83563,1.78058c-.71174.209-3.73378,1.55256-4.43989,1.77989-1.55246.49981-2.83715,2.12472-4.436,1.803-1.52965-.30781-2.1106-2.15493-2.35645-3.69575-.56011-3.51031,1.44914-8.748,3.44681-11.6883,1.516-2.23127,4.0813-3.51539,6.64622-4.3508a47.75242,47.75242,0,0,1,9.21763-1.83157c4.219-.49826,8.5887-.76263,12.63192.54148s7.72477,4.49426,8.47957,8.675c.15723.87088.18669,1.7629.37938,2.62663.47005,2.10707,1.86419,3.87819,2.67743,5.878a11.31872,11.31872,0,0,1-.3453,9.17585c-1.12613,2.26466-3.08447,4.44092-2.66184,6.93456l-3.48505-2.748a2.5311,2.5311,0,0,1-1.16327-2.96249l.50663-4.36376a3.83958,3.83958,0,0,0-.226-2.35932C424.55642,291.13,423.88279,295.55153,422.66905,295.39838Z" transform="translate(-81.5 -223.39465)" fill="#2f2e41"/><path d="M455.43037,379.2829l-4.25417,17.6897c4.29034.15356,9.967.23485,15.98257.11742,1.51747-4.55227,2.96713-9.29873,4.07808-13.7426,4.06453-16.25809-2.70968-41.09685-6.32259-52.83881s-12.64519-14.90325-12.64519-14.90325a41.18506,41.18506,0,0,0-10.38711,5.41936C436.011,325.08925,455.43037,379.2829,455.43037,379.2829Z" transform="translate(-81.5 -223.39465)" opacity="0.1"/><path d="M451.81746,378.37967l-4.43036,18.41679c1.08394.06324,2.35741.12195,3.7891.17614,3.3419.11742,7.52385.19419,12.05355.16258,1.63026-4.83677,3.2065-9.94,4.39419-14.691,4.06453-16.25809-2.70968-41.09685-6.32259-52.83881s-11.51615,1.129-11.51615,1.129,3.1613-7.67744-2.70968-3.61291S451.81746,378.37967,451.81746,378.37967Z" transform="translate(-81.5 -223.39465)" opacity="0.1"/><path d="M450.46262,314.70213s9.03228,3.1613,12.64519,14.90325,10.38711,36.58072,6.32259,52.83881-12.64519,36.58072-12.64519,36.58072-8.58066-6.32259-11.742-4.96775l8.58067-35.67749s-19.4194-54.19365-13.54842-58.25818A41.185,41.185,0,0,1,450.46262,314.70213Z" transform="translate(-81.5 -223.39465)" fill="#575a89"/><path d="M412.16008,531.4776q-19.505-3.30447-37.51608-5.67577l4.7468-9.2034c-1.60063-.55593-8.633,4.71459-8.633,4.71459l6.22941-26.71524c-8.05017.97082-12.14317,28.24871-12.14317,28.24871L355.85,513.624l4.35434,10.36848a830.43731,830.43731,0,0,0-95.18365-5.99038l4.06279-7.87714c-1.60063-.55593-8.633,4.71458-8.633,4.71458l6.22941-26.71524c-8.05016.97083-12.14317,28.24871-12.14317,28.24871l-8.99412-9.22247,4.61194,10.98191a534.67093,534.67093,0,0,0-54.71708,3.71673c4.10934-12.27117,18.069-23.942,18.069-23.942-10.66092,3.17072-16.25316,8.48395-19.17526,13.43741a215.16639,215.16639,0,0,1,12.43659-74.34273s-22.03575,47.95176-19.224,80.139l.33631,5.71552c-18.68135,2.67492-26.0308,8.95967-26.0308,8.95967Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><path d="M1080.16008,539.4776q-19.505-3.30447-37.51608-5.67577l4.7468-9.2034c-1.60063-.55593-8.633,4.71459-8.633,4.71459l6.22941-26.71524c-8.05017.97082-12.14317,28.24871-12.14317,28.24871L1023.85,521.624l4.35434,10.36848a830.43731,830.43731,0,0,0-95.18365-5.99038l4.06279-7.87714c-1.60063-.55593-8.633,4.71458-8.633,4.71458l6.22941-26.71524c-8.05016.97083-12.14317,28.24871-12.14317,28.24871l-8.99412-9.22247,4.61194,10.98191a534.67093,534.67093,0,0,0-54.71708,3.71673c4.10934-12.27117,18.069-23.942,18.069-23.942-10.66092,3.17072-16.25316,8.48395-19.17526,13.43741a215.16639,215.16639,0,0,1,12.43659-74.34273s-22.03575,47.95176-19.224,80.139l.33631,5.71552c-18.68135,2.67492-26.0308,8.95967-26.0308,8.95967Z" transform="translate(-81.5 -223.39465)" fill="#3f3d56"/><rect y="451.21069" width="1037" height="2" fill="#2f2e41"/></svg>
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
            自然回帰：自然と人間の大調和を中心に据えたポストグローバリゼーションの提唱
          </h3>
          <p class="text-gray-600 mb-8" style="font-family: 'Hiragino Kaku Gothic Pro';">
          我が国の象徴である、天皇制から発せられる大御心を持って、全ての経済活動が、自然と人間が調和する営みへと変化するように世界のルール作りを先導していくよう働きかけます。
            <br />
            <br />
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
          国内回帰：自分達の食べ物、製品を自分達で作るRE MADE IN JAPAN政策
        </h3>
        <p class="text-gray-600 mb-8" style="font-family: 'Hiragino Kaku Gothic Pro';">
        人が生きていく上での、真の自立を取り戻すために、あらゆる分野での高い自給率を目指す、国内産業への振興策を講じてまいります。
          <br />
          <br />
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
      <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1017.83078 752.26869" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M430.17958,804.71527q-46.60473,0-93.07031-1.44922c-44.26221-1.38086-90.03174-2.80762-132.57276-23.29883-29.75927-14.333-56.11572-37.3291-76.21923-66.50391a207.83633,207.83633,0,0,1-29.21143-63.60449,228.67366,228.67366,0,0,1-6.44824-33.28613,226.38642,226.38642,0,0,1,7.54541-90.49317,202.11618,202.11618,0,0,1,16.97363-40.40039c31.02344-55.79345,87.60791-93.24609,155.24512-102.7539a9.01656,9.01656,0,0,1,1.68457-.03125c.3042.01416.60742.02929.9165.01806l.398-.10986a21.86278,21.86278,0,0,1,3.13281-.69824c104.31446-13.48682,214.58985,13.80176,318.89649,78.91357,80.6499,50.35108,187.53369,77.46436,326.75976,82.88916l1.97657.08985c38.75732,1.93359,76.24707,15.81054,108.42089,40.13281a203.69025,203.69025,0,0,1,68.95313,92.624c1.6416,4.46094,3.14648,9.10449,4.47266,13.80078,2.51269,8.88282-.39991,17.8584-7.99219,24.69043v.00879l-.34668.30957c-.83447.72071-1.71289,1.41211-2.61084,2.05567l-1.05567.75586c-8.89746,6.36523-15.9248,11.39355-24.33544,15.29882a82.14255,82.14255,0,0,1-17.75391,5.82129c-33.92774,7.1836-68.38184,13.84375-102.40527,19.79688C885.45741,770.86175,817.641,780.40667,749.96718,787.6596A3003.64766,3003.64766,0,0,1,430.17958,804.71527ZM273.31532,384.87005a4.63987,4.63987,0,0,0-.62109.03662c-67.00488,9.41895-123.05371,46.50391-153.76953,101.74512a200.08509,200.08509,0,0,0-16.80567,40,224.37776,224.37776,0,0,0-7.47509,89.68652,226.66946,226.66946,0,0,0,6.3916,32.99414,205.83781,205.83781,0,0,0,28.92822,62.9961c19.90674,28.88867,45.99365,51.65429,75.44092,65.83594C247.56386,798.4721,293.11757,799.893,337.17177,801.266a3001.51063,3001.51063,0,0,0,412.582-15.59473c67.62988-7.249,135.40234-16.78711,201.43457-28.35058,34.00049-5.94825,68.43066-12.60352,102.33545-19.78321a80.09168,80.09168,0,0,0,17.32617-5.67871c8.24121-3.82617,15.20166-8.80664,24.01367-15.11133l1.05567-.75488c.772-.55371,1.52978-1.14551,2.25488-1.76074l.208-.18945c7.2417-6.33887,10.05761-14.70215,7.72607-22.94434v-.001c-1.312-4.64648-2.80078-9.24023-4.42578-13.65527-27.27783-74.74609-97.84277-127.56934-175.5918-131.44727l-1.96582-.08984c-63.59668-2.47852-119.24853-9.34375-170.12842-20.99023C693.25771,511.01214,640.23183,490.08441,596.391,462.7138c-103.90918-64.8623-213.72364-92.04931-317.58252-78.62646a20.03288,20.03288,0,0,0-2.854.64258l-.71728.17431c-.41309.022-.81836.00537-1.22266-.01269C273.7748,384.88079,273.54237,384.87005,273.31532,384.87005Z" transform="translate(-91.08461 -73.86566)" fill="#f0f0f0"/><path d="M1099.04079,714.79565v.01c-.80994.7-1.66,1.37-2.53992,2-14.68005,10.51-24.71008,17.88-42.77,21.71q-51,10.8-102.37006,19.79-100.215,17.55-201.5,28.36a2994.002,2994.002,0,0,1-412.72,15.6c-45.87994-1.43-90.12994-2.95-132.17-23.2-30.73-14.8-56.55-38.19-75.83-66.17-19.55-28.37-31.43994-61.94-35.49-96.44a99.087,99.087,0,0,1,29.97-7.8c35.88-3.42,71.19,9.72,103.82,25.01,32.64,15.28,64.69,33.14,100.03,40.19,52.08,10.39,105.84-3.74,155.77-21.83,49.93-18.09,99.08-40.43,151.74-47.26,70.63-9.17,141.5,10.24,210.08,29.46q109.575,30.705,219.16,61.42c10.43994,2.92,21.27,6.05,29.40991,13.21A36.17064,36.17064,0,0,1,1099.04079,714.79565Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><path d="M1099.04079,714.79565v.01c-.80994.7-1.66,1.37-2.53992,2-9.20007,6.58-16.57007,11.94-25.2301,15.96q-44.65485,4.395-89.43,7.61005-115.24493,8.26493-230.94,8.79c-156.47.8-320.98,5.7-457.98-70.3-45.58549-25.2883-111.62,26.57-156.78-1.16a208.5735,208.5735,0,0,1-36.06994-28.11,227.10885,227.10885,0,0,1-6.42005-33.14,224.72209,224.72209,0,0,1,7.51-90.09,200.41013,200.41013,0,0,1,16.89-40.2c20.98,7.53,41.1,18.37,60.25,29.85,35.12,21.03,69.27,44.91,108.38,56.95,57.65,17.75,120.02,7.99,178.52-6.69s116.61-34.24,176.9-35.89c80.86-2.21,158.69,27.9,233.96,57.53q113.265,44.595,226.55993,89.18,2.49006,6.765,4.45008,13.73C1109.74086,700.26562,1105.87074,708.81567,1099.04079,714.79565Z" transform="translate(-91.08461 -73.86566)" fill="#f2f2f2"/><path d="M362.80838,330.89244c-11.37261-7.6666-10.2601-24.44139,1.76661-31.03466q.36706-.20124.71988-.41616.90407-4.32993,1.80822-8.65978c3.54785,3.685,10.52442,2.98952,13.27491-1.32343a225.44564,225.44564,0,0,0-37.41171-56.06548,20.20509,20.20509,0,0,1-.29046-26.8019q.08724-.10167.17294-.20488A95.65823,95.65823,0,0,0,367.003,194.189c-25.4899-40.95375-74.09555-73.4889-85.64863-120.32338-34.75671,37.32463-38.65837,50.47005-73.41516,87.79468,0,0-32.91062,29.69718-40.01414,45.65693,1.74539,1.83339,17.37143,6.233,17.97216,9.83777,11.91681.95532,32.56209-12.10645,32.56209-12.10645s-45.06178,48.04087-58.74307,77.63181c-1.232,2.6647-2.40211,5.70738-1.37,8.4557.824,2.19417,3.78008,3.45928,5.68391,2.5875a24.37352,24.37352,0,0,0-5.37657,7.69885,20.93647,20.93647,0,0,0,25.828-2.60127q-2.8584,5.34033-5.71681,10.68053l.00339.00837a15.56651,15.56651,0,0,1,5.77118,26.19045c-11.82522,10.998-22.63039,22.55822-26.58965,30.17117-3.72466,7.16188,34.5192,15.795,43.12118,15.441s16.64241-4.13372,24.41155-7.84324A18.0599,18.0599,0,0,0,227.43,383.7456a32.8624,32.8624,0,0,0,25.16871-4.06893c-.34282,7.08471,8.594,10.99688,14.797,8.99055-3.09681,48.99028-.83155,117.78337,2.14363,189.19844h7.38145V391.49158a22.25823,22.25823,0,0,0,6.23435,2.07242c15.102,2.68077,33.3263,4.31066,43.15324-7.46587,11.31034,11.40463,32.0369,11.18815,43.28184-.17664-1.10671,1.9607.58717,5.26025,3.09287,5.78012,2.95295.61266,5.82579-1.142,8.3329-2.81807q17.02441-11.38173,34.04887-22.7635C401.05909,356.67837,381.16315,343.266,362.80838,330.89244Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><circle cx="612.42315" cy="198.58787" r="35.64001" fill="#f2f2f2"/><path d="M783.27836,255.57938c-2.06134-6.90478-7.88493-11.4124-14.92193-12.40127-.07739-.01092-.15088.0035-.228-.00147a2.22314,2.22314,0,0,0-.30421-.07006,44.46125,44.46125,0,0,0-28.61564,6.22885c-8.24956,5.15006-17.86053,7.47935-27.57831,7.85771q-.08592.00335-.17194.00764a17.61025,17.61025,0,0,0-15.751,12.6957,2.066,2.066,0,0,0,.92011,2.2611,9.031,9.031,0,0,0,3.72364,1.89009q4.43992.94061,8.91145,1.72332,8.72537,1.52694,17.54182,2.469a260.84605,260.84605,0,0,0,35.92995,1.3581c3.99461-.12449,7.84681-.257,11.50674-2.02a17.12124,17.12124,0,0,0,6.601-5.76037A19.42316,19.42316,0,0,0,783.27836,255.57938Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><path d="M709.20315,303.09932c-2.06151-6.90469-7.8851-11.41231-14.92194-12.40118-.07755-.01092-.151.0035-.22811-.00147a2.221,2.221,0,0,0-.304-.07006,44.46147,44.46147,0,0,0-28.61593,6.22895c-8.24928,5.14993-17.85994,7.47957-27.57743,7.85758q-.0863.00336-.1727.00767a17.61025,17.61025,0,0,0-15.751,12.6957,2.06644,2.06644,0,0,0,.92027,2.2611,9.03145,9.03145,0,0,0,3.72348,1.89009q4.43992.94048,8.91145,1.72332,8.72537,1.52682,17.542,2.469a260.85839,260.85839,0,0,0,35.93,1.3581c3.99444-.12449,7.84664-.25712,11.50673-2.02012a17.12343,17.12343,0,0,0,6.601-5.76029A19.424,19.424,0,0,0,709.20315,303.09932Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><path d="M1010.80838,451.89244c-11.37261-7.6666-10.2601-24.44139,1.76661-31.03466q.36707-.20124.71988-.41616.90406-4.32993,1.80822-8.65978c3.54785,3.685,10.52442,2.98952,13.27491-1.32343a225.44564,225.44564,0,0,0-37.41171-56.06548,20.20509,20.20509,0,0,1-.29046-26.8019q.08724-.10167.17294-.20488A95.65823,95.65823,0,0,0,1015.003,315.189c-25.4899-40.95375-74.09555-73.4889-85.64863-120.32338-34.75671,37.32463-38.65837,50.47005-73.41516,87.79468,0,0-32.91062,29.69718-40.01414,45.65693,1.74539,1.83339,17.37143,6.233,17.97216,9.83777,11.91681.95532,32.56209-12.10645,32.56209-12.10645s-45.06178,48.04087-58.74307,77.63181c-1.232,2.6647-2.40211,5.70738-1.37,8.4557.824,2.19417,3.78008,3.45928,5.68391,2.5875a24.37352,24.37352,0,0,0-5.37657,7.69885,20.93647,20.93647,0,0,0,25.82805-2.60127q-2.8584,5.34033-5.71681,10.68053l.00339.00837a15.56651,15.56651,0,0,1,5.77118,26.19045c-11.82522,10.998-22.63039,22.55822-26.58965,30.17117-3.72466,7.16188,34.5192,15.795,43.12118,15.441s16.64241-4.13372,24.41155-7.84324A18.0599,18.0599,0,0,0,875.43,504.7456a32.8624,32.8624,0,0,0,25.16871-4.06893c-.34282,7.08471,8.594,10.99688,14.797,8.99055-3.09681,48.99028-.83155,117.78337,2.14363,189.19844h7.38145V512.49158a22.25823,22.25823,0,0,0,6.23435,2.07242c15.102,2.68077,33.3263,4.31066,43.15324-7.46587,11.31034,11.40463,32.0369,11.18815,43.28184-.17664-1.10671,1.9607.58717,5.26025,3.09287,5.78012,2.95295.61266,5.82579-1.14195,8.3329-2.81807q17.02442-11.38173,34.04887-22.7635C1049.05909,477.67837,1029.16315,464.266,1010.80838,451.89244Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><path d="M154.05484,641.88332a3.61324,3.61324,0,0,0,2.61866-6.26263c-.09111-.36212-.15647-.62217-.24758-.98429q.0489-.11823.09837-.23628a9.70311,9.70311,0,0,1,17.89849.06652c2.92739,7.05051,6.65446,14.11307,7.57216,21.56779a28.70521,28.70521,0,0,1-.50391,9.87235A115.086,115.086,0,0,0,191.96,618.10785a111.07978,111.07978,0,0,0-.689-12.392q-.5708-5.05968-1.58377-10.04731a116.41946,116.41946,0,0,0-23.087-49.34151,30.98262,30.98262,0,0,1-12.88557-13.36893,23.63324,23.63324,0,0,1-2.14932-6.45821c.62728.08228,1.26488.13369,1.89217.17479.19542.01023.40108.02055.5965.03086l.0737.0033a3.57989,3.57989,0,0,0,2.9401-5.83225q-.40628-.5-.81305-.99948c-.4114-.51422-.833-1.01813-1.24434-1.53227a1.78213,1.78213,0,0,1-.1337-.15433c-.47312-.58618-.94608-1.16206-1.41921-1.74824a10.35167,10.35167,0,0,1,3.39367-3.28044c4.74083-2.77662,11.28132-.85358,14.70585,3.43476,3.43477,4.28826,4.0826,10.30438,2.88976,15.66218a41.48487,41.48487,0,0,1-5.73841,12.793c.25715.32912.52454.64792.78161.977a117.172,117.172,0,0,1,12.22972,19.37481,48.70925,48.70925,0,0,1,2.908-22.62446c2.78346-6.71479,8.00064-12.37,12.595-18.175,5.51856-6.9726,16.83488-3.92959,17.80713,4.90927q.01412.12837.02756.25666-1.02362.57749-2.004,1.22585a4.90111,4.90111,0,0,0,1.976,8.91909l.09994.01543a48.76572,48.76572,0,0,1-1.28543,7.29124A50.20985,50.20985,0,0,1,188.844,578.69009c-.40108.20566-.79192.41132-1.193.60674a116.53349,116.53349,0,0,1,4.40148,15.88839,117.59793,117.59793,0,0,1,2.03618,14.4076,113.433,113.433,0,0,1-.08228,18.31542l.03087-.216a29.974,29.974,0,0,1,10.23241-17.30759c7.87437-6.46853,18.9994-8.8505,27.49445-14.04994a5.62529,5.62529,0,0,1,8.61572,5.47252q-.01709.11351-.03475.227a32.92361,32.92361,0,0,0-3.69183,1.779q-1.02363.57761-2.004,1.22585a4.90115,4.90115,0,0,0,1.976,8.91916l.1.01535c.072.01032.1337.02063.20558.031a48.808,48.808,0,0,1-8.97768,14.05786,50.25439,50.25439,0,0,1-36.44572,15.99129h-.01031a119.56321,119.56321,0,0,1-8.03167,23.447H154.77381c-.10291-.3188-.19542-.64791-.288-.96671a32.59917,32.59917,0,0,0,7.93915-.473c-2.12877-2.61214-4.25747-5.24483-6.38625-7.85688a1.783,1.783,0,0,1-.13369-.15425c-1.07978-1.33685-2.16988-2.66347-3.24966-4.00032l-.00058-.00165a47.75114,47.75114,0,0,1,1.39916-12.16411Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><path d="M1009.05484,669.88332a3.61324,3.61324,0,0,0,2.61866-6.26263c-.09111-.36212-.15647-.62217-.24758-.98429q.0489-.11823.09837-.23628a9.70311,9.70311,0,0,1,17.89849.06652c2.92739,7.05051,6.65446,14.11307,7.57216,21.56779a28.70521,28.70521,0,0,1-.50391,9.87235A115.086,115.086,0,0,0,1046.96,646.10785a111.07978,111.07978,0,0,0-.689-12.392q-.5708-5.05968-1.58377-10.04731a116.41946,116.41946,0,0,0-23.087-49.34151,30.98262,30.98262,0,0,1-12.88557-13.36893,23.63324,23.63324,0,0,1-2.14932-6.45821c.62728.08228,1.26488.13369,1.89217.17479.19542.01023.40108.02055.5965.03086l.0737.0033a3.57989,3.57989,0,0,0,2.9401-5.83225q-.40628-.5-.813-.99948c-.4114-.51422-.833-1.01813-1.24434-1.53227a1.78213,1.78213,0,0,1-.1337-.15433c-.47312-.58618-.94608-1.16206-1.41921-1.74824a10.35167,10.35167,0,0,1,3.39367-3.28044c4.74083-2.77662,11.28132-.85358,14.70585,3.43476,3.43477,4.28826,4.0826,10.30438,2.88976,15.66218a41.48487,41.48487,0,0,1-5.73841,12.793c.25715.32912.52454.64792.78161.977a117.172,117.172,0,0,1,12.22972,19.37481,48.70925,48.70925,0,0,1,2.908-22.62446c2.78346-6.71479,8.00064-12.37,12.595-18.175,5.51856-6.9726,16.83488-3.92959,17.80713,4.90927q.01412.12837.02756.25666-1.02361.57749-2.004,1.22585a4.90111,4.90111,0,0,0,1.976,8.91909l.09994.01543a48.76572,48.76572,0,0,1-1.28543,7.29124,50.20985,50.20985,0,0,1-24.99984,31.46836c-.40108.20566-.79192.41132-1.193.60674a119.59737,119.59737,0,0,1,6.43766,30.296,113.433,113.433,0,0,1-.08228,18.31542l.03087-.216a29.974,29.974,0,0,1,10.23241-17.30759c7.87437-6.46853,18.9994-8.8505,27.49445-14.04994a5.62529,5.62529,0,0,1,8.61572,5.47252q-.01709.11351-.03475.227a32.92361,32.92361,0,0,0-3.69183,1.779q-1.02363.57761-2.004,1.22585a4.90115,4.90115,0,0,0,1.976,8.91916l.1.01535c.072.01032.1337.02063.20558.031a48.808,48.808,0,0,1-8.97768,14.05786,50.25439,50.25439,0,0,1-36.44572,15.99129h-.01031a119.56321,119.56321,0,0,1-8.03167,23.447h-28.69168c-.10291-.3188-.19542-.64791-.288-.96671a32.59917,32.59917,0,0,0,7.93915-.473c-2.12877-2.61214-4.25747-5.24483-6.38625-7.85688a1.783,1.783,0,0,1-.13369-.15425c-1.07978-1.33685-2.16988-2.66347-3.24966-4.00032l-.00058-.00165a47.75114,47.75114,0,0,1,1.39916-12.16411Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><path d="M668.05484,586.88332a3.61324,3.61324,0,0,0,2.61866-6.26263c-.09111-.36212-.15647-.62217-.24758-.98429q.0489-.11823.09837-.23628a9.70311,9.70311,0,0,1,17.89849.06652c2.92739,7.05051,6.65446,14.11307,7.57216,21.56779a28.70521,28.70521,0,0,1-.50391,9.87235A115.086,115.086,0,0,0,705.96,563.10785a111.07978,111.07978,0,0,0-.689-12.392q-.57079-5.05968-1.58377-10.04731a116.41946,116.41946,0,0,0-23.087-49.34151,30.98262,30.98262,0,0,1-12.88557-13.36893,23.63324,23.63324,0,0,1-2.14932-6.45821c.62728.08228,1.26488.13369,1.89217.17479.19542.01023.40108.02055.5965.03086l.0737.0033a3.57989,3.57989,0,0,0,2.9401-5.83225q-.40628-.5-.813-.99948c-.4114-.51422-.833-1.01813-1.24434-1.53227a1.78213,1.78213,0,0,1-.1337-.15433c-.47312-.58618-.94608-1.16206-1.41921-1.74824a10.35167,10.35167,0,0,1,3.39367-3.28044c4.74083-2.77662,11.28132-.85358,14.70585,3.43476,3.43477,4.28826,4.0826,10.30438,2.88976,15.66218a41.48487,41.48487,0,0,1-5.73841,12.793c.25715.32912.52454.64792.78161.977a117.172,117.172,0,0,1,12.22972,19.37481,48.70925,48.70925,0,0,1,2.908-22.62446c2.78346-6.71479,8.00064-12.37,12.595-18.175,5.51856-6.9726,16.83488-3.92959,17.80713,4.90927q.01412.12837.02756.25666-1.02361.57748-2.004,1.22585a4.90111,4.90111,0,0,0,1.976,8.91909l.09994.01543a48.76572,48.76572,0,0,1-1.28543,7.29124A50.20985,50.20985,0,0,1,702.844,523.69009c-.40108.20566-.79192.41132-1.193.60674a119.59737,119.59737,0,0,1,6.43766,30.296,113.433,113.433,0,0,1-.08228,18.31542l.03087-.216a29.974,29.974,0,0,1,10.23241-17.30759c7.87437-6.46853,18.9994-8.8505,27.49445-14.04994a5.62529,5.62529,0,0,1,8.61572,5.47252q-.01709.11351-.03475.227a32.92361,32.92361,0,0,0-3.69183,1.779q-1.02363.57761-2.004,1.22585a4.90115,4.90115,0,0,0,1.976,8.91916l.1.01535c.072.01032.1337.02063.20558.031a48.808,48.808,0,0,1-8.97768,14.05786,50.25439,50.25439,0,0,1-36.44572,15.99129h-.01031a119.56321,119.56321,0,0,1-8.03167,23.447H668.77381c-.10291-.3188-.19542-.64791-.288-.96671a32.59917,32.59917,0,0,0,7.93915-.473c-2.12877-2.61214-4.25747-5.24483-6.38625-7.85688a1.783,1.783,0,0,1-.13369-.15425c-1.07978-1.33685-2.16988-2.66347-3.24966-4.00032l-.00058-.00165a47.75114,47.75114,0,0,1,1.39916-12.16411Z" transform="translate(-91.08461 -73.86566)" fill="#e6e6e6"/><polygon points="394.662 731.045 406.668 727.475 398.726 678.395 381.005 683.664 394.662 731.045" fill="#ffb6b6"/><path d="M412.11159,785.53847c.73109.63694,1.46352,1.26547,2.20411,1.89549,1.47307,1.25857,2.96506,2.5033,4.45969,3.73163.7514.61492,1.511,1.23113,2.26371,1.83784l-.00386.02442.04788.016.01507.0108,1.21319.51161,2.57011-4.50086,1.18552-2.07282,1.67528-2.93658,3.06938-5.37131,16.161-28.28244-17.02419-7.17576-1.09386,2.60847-.0082-.0013-.54084,1.29248-10.1657,24.12261-2.07537,4.93212-.06564.14922-1.24806,2.94536-1.07661,2.55233-1.19968,2.85228Z" transform="translate(-91.08461 -73.86566)" fill="#ffb6b6"/><path d="M323.16217,663.13921c.83748,1.98151,1.70087,3.95871,2.575,5.92079q2.43509,5.47841,5.06555,10.83654c-.0013.0082.00691.0095.01381.019a23.43454,23.43454,0,0,0,3.84252,3.8609c.05781.05958.12637.104.18548.15541a16.21909,16.21909,0,0,0,3.424,2.04664c.44092.18745.89.37625,1.331.56376,1.59368.65579,3.18008,1.25164,4.76482,1.80517q4.2305,1.46424,8.44787,2.481c.22568.061.45261.1137.67958.16647,11.59528,2.71895,23.23481,3.14226,35.51466,2.75941,6.063-.18267,12.28385-.56718,18.72575-.96712,2.10585-.13707,4.21861-.26463,6.356-.3883.161-.0081.33143-.02316.5006-.03,3.05391-.18018,6.15571-.34442,9.33-.48876,3.99553-.1823,8.11011-.32057,12.374-.39318l-1.22095,5.79858a44.54245,44.54245,0,0,1-4.85249,12.70284c-2.59149,4.90079-4.6426,8.77785-3.0348,17.78091l.772,4.35781a14.28737,14.28737,0,0,0-.52652,12.71573l.2181.47992-16.66239,28.21148-1.07967,1.82912,6.0913.96479,7.49182,1.195,12.699,2.01137,24.14548-33.8586,1.15509-1.61548.01428-.09017,9.29538-70.94382c.07407-.627.12487-1.266.14159-1.90209a21.74558,21.74558,0,0,0-5.88308-15.75619,20.94161,20.94161,0,0,0-14.737-6.65376l-6.40019-.18174-13.07609-.37351-9.21186-.2573-.18428-.004-27.1649-.773-.67662-8.09084-.33174-.187-10.55643-5.88236-36.51075-20.34679-.09319-.04836-2.40159-1.33844-.38124.44383c-.1136.13332-.22714.2666-.33247.40118a76.92672,76.92672,0,0,0-8.37567,13.24567,225.94645,225.94645,0,0,0-10.32717,23.55071q-.19641.52354-.35257.95263l-.0389.08627c-.04665.13546-.07734.223-.08944.24635C322.3317,653.73819,322.2354,658.37871,323.16217,663.13921Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/><path d="M325.64972,636.84575c.2061-.50521.44626-1.01339.692-1.50392A113.56544,113.56544,0,0,1,332.704,624.5673c2.61-3.95663,5.65335-8.15555,9.19913-12.66145q2.57322-3.27337,5.49519-6.78553,1.4637-1.75991,3.02925-3.57929a2.11155,2.11155,0,0,1,.13514-.16345l.30006-.35585,37.53833,11.20646-.01847,5.14,2.72267,7.28323-.1845.21422c.00821.0013.00951-.00691,0,0v-1l1,1,9.678,11.95848.0669.00218,21.62732.61024,22.288.63081,11.97184.34151a20.929,20.929,0,0,1,14.737,6.65376,21.75651,21.75651,0,0,1,5.883,15.75623c-.01709.58558-.06139,1.18361-.129,1.7696l6.91367,27.979a171.31656,171.31656,0,0,1,4.71428,51.20347l4.00648,27.23284-1.1728-.07651-17.453-1.12558-4.60931-.293L462.754,751.32349c-.876-1.84475-1.68675-3.72955-2.41723-5.64369a78.91516,78.91516,0,0,1-3.01127-9.58676L443.845,681.18162q-2.57688.03318-5.098.03293-11.66724.04293-22.31656-.45047c-23.08564-1.05968-42.75971-3.97414-59.90628-8.89176q-7.22388-2.06437-13.86629-4.61658-2.43725-.92814-4.79582-1.92775c-.371-.15119-.73387-.30109-1.09541-.45925a21.182,21.182,0,0,1-12.46787-15.99241A21.61261,21.61261,0,0,1,325.64972,636.84575Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/><path d="M483.38754,796.72844l12.99267-3.87524,2.03792-.61,1.8487,7.90671,20.38231,7.99335a5.07342,5.07342,0,0,1-.69033,9.66436l-21.96842,5.15124-5.61673-6.932.35381,8.16579-8.27439,1.94172-4.22376-28.46058Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/><polygon points="319.901 699.669 318.821 701.498 319.592 701.62 319.901 699.669" fill="#2f2e41"/><path d="M414.81639,776.56846l11.959,6.38826,1.87733,1.00044-4.24968,6.9191,8.8589,20.02129a5.07341,5.07341,0,0,1-7.29057,6.38153L406.7366,805.482l.88638-8.87777-5.49421,6.05137-7.24582-4.44229L411.90709,775.018Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/><path d="M501.23519,412.40164a9.099,9.099,0,0,1-9.882,9.84933l-13.30053,29.47252L469.072,437.522l14.00724-25.81036a9.14829,9.14829,0,0,1,18.156.69Z" transform="translate(-91.08461 -73.86566)" fill="#ffb6b6"/><path d="M467.40249,500.07859l-60.93918,46.62719a22.96509,22.96509,0,0,1-32.159-4.27852h0a22.94063,22.94063,0,0,1,7.83978-34.3978l60.75267-30.82227,27.17776-52.9478,18.24885,5.42336Z" transform="translate(-91.08461 -73.86566)" fill="#6c63ff"/><path d="M337.61835,555.47064l-1.23551,45.2439C319.38078,629.4389,317.447,643.38708,322.15317,650.824l69.91043-25.53754,1.17818-2.81333,3.65072-20.21554,6.61869-20.8586c1.16539-2.17935,16.98742-15.56974,2.15557-40.96966l-29.838-40.19607L351.92079,498.865c-3.94145,10.11617,3.16843,15.63556-3.9329,17.96823C331.92963,531.5514,334.28854,533.94654,337.61835,555.47064Z" transform="translate(-91.08461 -73.86566)" fill="#6c63ff"/><path d="M290.072,682.49005a9.099,9.099,0,0,1,6.12468-12.536l2.94888-32.2,13.12526,10.491-4.81255,28.96925a9.1483,9.1483,0,0,1-17.38627,5.27571Z" transform="translate(-91.08461 -73.86566)" fill="#ffb6b6"/><path d="M293.42418,588.57166,335.8,524.60318a22.96508,22.96508,0,0,1,31.79355-6.45584h0a22.94063,22.94063,0,0,1,3.82071,35.0724l-47.35984,48.96882-8.401,58.91963-19.01948.83209Z" transform="translate(-91.08461 -73.86566)" fill="#6c63ff"/><path d="M383.23416,443.97229c8.45328,16.66143,2.93119,35.96077-12.75521,46.10959-16.96255,10.97445-38.98606,8.57148-46.10959-12.75522-7.93279-23.74944-1.4158-33.93777,12.75521-46.10959C353.73142,416.953,374.10055,425.97,383.23416,443.97229Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/><path d="M341.62228,481.08868a26.7642,26.7642,0,0,0,42.58752-32.42822l-.23226-.305a26.7642,26.7642,0,0,0-42.34864,32.72824Z" transform="translate(-91.08461 -73.86566)" fill="#ffb6b6"/><path d="M391.42612,441.27461a36.56932,36.56932,0,0,1-15.4373,8.74719,15.99263,15.99263,0,0,0-4.06837-3.37154,17.10944,17.10944,0,0,1,1.493,4.83079c-2.58049,5.35534-13.11977,9.20435-23.19272,13.14162L336.879,441.07675l17.65944-10.00631C368.7283,421.26018,385.433,425.44723,391.42612,441.27461Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/><path d="M326.81509,431.24658c-2.403-1.11034-5.51691-.4246-7.776,1.13553a17.3308,17.3308,0,0,0-5.076,6.174,44.26792,44.26792,0,0,0-4.60243,12.5437c-.76172,3.79783-.63278,8.38944,2.77477,10.37136,2.84326,1.65377,6.9087.61248,9.52191-1.59455,2.61324-2.207,4.08539-5.3093,5.3603-8.33807s2.481-6.16909,4.74709-8.68442l-2.35425,1.0991a20.57481,20.57481,0,0,0,1.02478-7.00824A6.78736,6.78736,0,0,0,326.81509,431.24658Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/><path d="M357.35891,434.33256l-18.94574,10.73516a22.20182,22.20182,0,0,0-8.37119,30.26159l0,0A34.46139,34.46139,0,0,0,374.1059,489.79l-17.31232-15.28291,23.48529,11.966,5.01433-2.84125C360.10573,479.05211,355.247,459.29454,357.35891,434.33256Z" transform="translate(-91.08461 -73.86566)" fill="#2f2e41"/></svg>
        
      </div>
    </div>
  </div>
</section>
<section class="gradient text-white">
<div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
  <div class="max-w-xl">
    <h2 class="text-3xl font-bold sm:text-4xl">重点政策</h2>

    <p class="mt-4 text-white" style="font-family: 'Hiragino Kaku Gothic Pro';">
     物事を正しく見つめることから出発し、人々が自然からしっかりと恩恵を受け、無理がない、持続可能な世界をいち早く実現するために。現状我が国が抱える諸問題に対する方策と、その先にある大調和と大発展の筋道を示す。
    </p>
  </div>

  <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
    <div class="flex items-start gap-4">

    <i class="fa-solid fa-1 fa-rotate-by fa-5x" style="color: #ffffff; --fa-rotate-angle: 10deg;""></i>
    
      <div>
        <h2 class="text-lg font-bold underline">核融合を見据えた脱原発の段階的な推進</h2>
        <p class="mt-1 text-white" style="font-family: 'Hiragino Kaku Gothic Pro';">
        人類のエネルギー政策のうち、自然環境に多大な影響を及ぼす可能性がある、原子力発電をはじめ、大規模水力発電（ダム）、山体を切り開いて行う風力発電や太陽光発電など、グリーン政策の中でも生態系や生物多様性からなる自然循環を破壊してしまうものに関しては直ちに、その利用並びに開発をやめ、代替の手段を用いることを強く推進します。
        </p>
      
      </div>
    </div>

    <div class="flex items-start gap-4">
    <i class="fa-solid fa-2 fa-rotate-by fa-5x" style="color: #ffffff; --fa-rotate-angle: 10deg;""></i>

      <div>
        <h2 class="text-lg font-bold underline">真に持続可能な第一次産業の発展</h2>
        <p class="mt-1 text-white" style="font-family: 'Hiragino Kaku Gothic Pro';">
        自然環境と人間社会との間に大きく関わる産業である、一次産業は、その性質上自然環境への影響が強大であり、人間社会での行いが直接的な生態系や生物多様性、及び自然循環の破壊につながってしまいます。
        いかにして、人と自然が調和し、今後も我々人類が子々孫々続いていけるのかを考える上で、最も重要な分野であり、また、食をはじめとした人の生活や健康状態を決定づける営みであるため、同時に国家の健康状態を良好に保つ為の基礎として重点的に取り組む必要があるものと考えています。
        </p>
      </div>
    </div>

    <div class="flex items-start gap-4">
    <i class="fa-solid fa-3 fa-rotate-by fa-5x" style="color: #ffffff; --fa-rotate-angle: 10deg;""></i>

      <div>
        <h2 class="text-lg font-bold underline">国に住まう人々の政治参加</h2>

        <p class="mt-1 text-white" style="font-family: 'Hiragino Kaku Gothic Pro';">
          
        </p>
      </div>
    </div>

    <div class="flex items-start gap-4">
    <i class="fa-solid fa-4 fa-rotate-by fa-5x" style="color: #ffffff; --fa-rotate-angle: 10deg;""></i>

      <div>
        <h2 class="text-lg font-bold underline">テーマ４ 経営・宣伝・販売</h2>

        <p class="mt-1 text-white" style="font-family: 'Hiragino Kaku Gothic Pro';">
          農を生業として捉えたとき、現在の経済社会において必要な稼ぎを得ることは重要な観点です。農業における経営を考えるときに重要なポイントを知るとともに、計画の立て方を学び、実践を行います。
          また、団体主催のマルシェに参加し、実際に消費者から学ぶ機会を持ちます。個人、法人の経営体別の基礎を学び、適切なファイナンスを行うことで、無理のない就農を目指します。
        </p>
      </div>
    </div>

    <div class="flex items-start gap-4">
    <i class="fa-solid fa-5 fa-rotate-by fa-5x" style="color: #ffffff; --fa-rotate-angle: 10deg;""></i>

      <div>
        <h2 class="text-lg font-bold underline">テーマ5 村の日役</h2>

        <p class="mt-1 text-white" style="font-family: 'Hiragino Kaku Gothic Pro';">
          村という共同体を見たときに、その基本的な成り立ちと構造を知ることは、村での新しい生活を始めるにあたって起こりやすい問題を事前に解消するのに役立ちます。
          村の生活というものは農業をするものにとっては、切っても切り離せないものであり、村全体で行う日役と呼ばれる仕事は、その地域で暮らすものにとっては自立の礎とも呼べるものです。自らの生活基盤を共有し、ともに維持していく仕組みには、あらゆるものからの精神的自立と、その上での協力が含まれています。
        </p>
      </div>
    </div>

    <div class="flex items-start gap-4">
      <!--<span class="shrink-0 rounded-lg bg-gray-800 p-4">
        <svg
          class="h-5 w-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>
      </span>-->
      <i class="fa-solid fa-6 fa-rotate-by fa-5x" style="color: #ffffff; --fa-rotate-angle: 10deg;""></i>
      <div>
        <h2 class="text-lg font-bold underline">テーマ6 自然資源のある生活</h2>

        <p class="mt-1 text-white" style="font-family: 'Hiragino Kaku Gothic Pro';">
         私たち人類は、地球に生まれ、地球が育む自然の一部として生きています。都市部に住んでいても、田舎に住んでいても、自然は絶え間なく、私たちにその恵みをもたらしてくれています。
         私たちが意識的に栽培など行わなくても、自然と結実するその恵みを生活に活用する知恵を学びます。本校においては、野草、竹、ニホンミツバチ、染色について学びます。
        </p>
      </div>
    </div>
  </div>
</div>
</section>


<% if customer_signed_in? %>
<section class="bg-gray-100 py-8">
  <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
    <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
      コース選択
    </h2>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
      <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
        <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
          <div class="p-8 text-3xl font-bold text-center border-b-4">
            自給自足Plan
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b py-4">総授業時間：100時間（50コマ）</li>
            <li class="border-b py-4">自然栽培・有機栽培を学ぶ</li>
            <li class="border-b py-4">食品の加工や野草の活用を学ぶ</li>
          </ul>
        </div>
        <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
          <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
            165,000円
            <span class="text-base">年間・税込</span>
          </div>
          <div class="flex items-center justify-center">
            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            申し込む
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
        <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
          <div class="w-full p-8 text-3xl font-bold text-center">Be村Plan</div>
          <div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
          <ul class="w-full text-center text-base font-bold">
            <li class="border-b py-4">総授業時間：350時間（175コマ）</li>
            <li class="border-b py-4">移住・新規就農を目指す方</li>
            <li class="border-b py-4">村の生活・栽培・加工・経営を学ぶ</li>
            
          </ul>
        </div>
        <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
          <div class="w-full pt-6 text-4xl font-bold text-center">
          330,000円
            <span class="text-base">年間・税込</span>
          </div>
          <div class="flex items-center justify-center">
            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
              申し込む
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
        <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
          <div class="p-8 text-3xl font-bold text-center border-b-4">
          ビジターPlan
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b py-4">１テーマ：5コマ〜10コマ</li>
            <li class="border-b py-4">学びたいテーマだけ学ぶ</li>
            <li class="border-b py-4"></li>
          </ul>
        </div>
        <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
          <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
          36,000円
            <span class="text-base">１テーマ（選択）・税込</span>
          </div>
          <div class="flex items-center justify-center">
            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            申し込み
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% else %>
<% end %>

<!--<section class="relative overflow-hidden bg-white dark:bg-gray-900">
<div class="container mx-auto flex flex-wrap pt-4 pb-12">
<div class="max-w-screen-lg mx-auto pt-4 px-4 sm:px-6 lg:px-8 flex flex-col justify-between">

    <div class="text-center">
        <p class="mt-4 text-sm leading-7 text-gray-500 font-regular">
            
        </p>
        <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-900">
            どんな風に<span class="text-pink-300">学べるの?</span>
        </h3>

    </div>

    <div class="mt-20"></div>




<div class="gap-8 md:flex">
    <div class="mb-8 text-center md:w-1/3 md:mb-0">
    <%= image_tag "tracter.png", class: "w-48 h-48 mx-auto -mb-24 rounded-full" %>
        <div class="px-8 pt-32 pb-10 bg-white rounded-lg shadow-lg">
            <h3 class="mb-3 text-xl text-pink-300 font-title">
            実習
            </h3>
            <p class="font-body">
                
            </p>
            <p class="mb-4 text-gray-600 font-body" style="font-family: 'Hiragino Kaku Gothic Pro';">
            就農に必要な機械の使い方や農作業のやり方を、講師農家から直接学ぶことで、すぐに実践できる力が身に付きます。
            </p>
            <a class="text-blue-500 font-body hover:text-gray-800" href="#">
                
            </a>
        </div>
    </div>
    <div class="mb-8 text-center md:w-1/3">
    <%= image_tag "education.jpeg", class: "w-48 h-48 mx-auto -mb-24 rounded-full" %>
        <div class="px-8 pt-32 pb-10 bg-white rounded-lg shadow-lg">
            <h3 class="mb-3 text-xl text-pink-300 font-title">
                座学
            </h3>
            <p class="font-body">
                
            </p>
            <p class="mb-4 text-gray-600 font-body" style="font-family: 'Hiragino Kaku Gothic Pro';">
            自然と向き合う際に、ヒントとなる考え方を学び、本当の意味での自立への道を開きます。栽培の基礎を学び、さらに、作付けする植物の生き方、特徴を体系的に学ぶことで、自身の生活や農業の計画を作る際の手法を学びます。
            </p>
            <a class="text-blue-500 font-body hover:text-gray-800" href="mailto:dino@siete.pm">
               
            </a>
        </div>
    </div>
    <div class="mb-8 text-center md:w-1/3 md:mb-0">
    <%= image_tag "owner.jpeg", class: "w-48 h-48 mx-auto -mb-24 rounded-full" %>
    <div class="px-8 pt-32 pb-10 bg-white rounded-lg shadow-lg">
        <h3 class="mb-3 text-xl text-pink-300 font-title">
        自分の畑
        </h3>
        <p class="font-body">
            
        </p>
        <p class="mb-4 text-gray-600 font-body" style="font-family: 'Hiragino Kaku Gothic Pro';">
        年間を通じて、自身が自由に作付けする農地を持つことができます。実践を通じて出てきた問題、課題を講師にすぐに質問できるので、ご自身の現状に合わせた学習が可能です。
        </p>
        <a class="text-blue-500 font-body hover:text-gray-800" href="#">
            
        </a>
    </div>
</div>
</div>
</div>
</section>-->

<div class="pt-18">
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
      <p class="uppercase tracking-loose w-full text-white">塾生　絶賛募集中！（2024年8月開校）</p>
      <h1 class="my-4 text-3xl sm:text-5xl leading-tight text-white">
      鼎立塾　第１期生
      </h1>
   
      <%= button_to '応募する', {controller: "pages", action: "candidates"}, {method: :get, :class => "mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank"} %>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-3/5 py-6 text-center">
     
    <%= image_tag "rainbow.jpeg", class: "h-auto max-w-full rounded-full" %>

    </div>
  </div>
</div>
<div class="relative -mt-12 lg:-mt-24">
  <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
        <path
          d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
          opacity="0.100000001"
        ></path>
        <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
      </g>
      <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path
          d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
        ></path>
      </g>
    </g>
  </svg>
</div>



<section class="bg-gray-100 py-8">
<div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
<h2 class="w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
体験入学当日の流れ
</h2>
<div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

<div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">
        体験入学当日の流れ
    </h3>
    <p class="max-w-2xl mt-1 text-sm text-gray-500" style="font-family: 'Hiragino Kaku Gothic Pro';">
        開始時間までに、会場（Nora cafe）までお越しください。※電車の場合、最寄駅まで送迎あり。
    </p>
</div>
<div class="border-t border-gray-200">
    <dl>
        <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-2xl font-medium text-gray-500">
                13:45
            </dt>
            <dd class="mt-1 text-2xl text-gray-900 sm:mt-0 sm:col-span-2">
                集合
            </dd>
        </div>
        <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-2xl font-medium text-gray-500">
                14:00
            </dt>
            <dd class="mt-1 text-2xl text-gray-900 sm:mt-0 sm:col-span-2">
                オリエンテーション
            </dd>
        </div>
        <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-2xl font-medium text-gray-500">
                15:30
            </dt>
            <dd class="mt-1 text-2xl text-gray-900 sm:mt-0 sm:col-span-2">
                作業開始
            </dd>
        </div>
        <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-2xl font-medium text-gray-500">
                16:30
            </dt>
            <dd class="mt-1 text-2xl text-gray-900 sm:mt-0 sm:col-span-2">
                作業終了
            </dd>
        </div>
        <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-2xl font-medium text-gray-500">
                17:00
            </dt>
            <dd class="mt-1 text-2xl text-gray-900 sm:mt-0 sm:col-span-2">
            解散(任意相談会) 
            </dd>
        </div>
        
    </dl>
</div>


</div>
</section>
<!--<section class="bg-gray-100 py-8">
  <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
    <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
      党員種別
    </h2>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
      <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
        <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
          <div class="p-8 text-3xl font-bold text-center border-b-4">
            特別党員
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b py-4">特別にご支援いただける方</li>
            <li class="border-b py-4">特典は一般会員と同等</li>
            <li class="border-b py-4">党総会における議決権を付与</li>
          </ul>
        </div>
        <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
          <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
            年間12,000円
            <span class="text-base"></span>
          </div>
          <div class="flex items-center justify-center">
            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            支援する
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
        <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
          <div class="w-full p-8 text-3xl font-bold text-center">一般党員</div>
          <div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
          <ul class="w-full text-center text-base font-bold">
            <li class="border-b py-4">年２回程度の会報誌の発送</li>
            <li class="border-b py-4">党関連のイベントへの参加</li>
            <li class="border-b py-4">月300円でのご支援</li>
            
          </ul>
        </div>
        <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
          <div class="w-full pt-6 text-4xl font-bold text-center">
          年間3,600円
            <span class="text-base"></span>
          </div>
          <div class="flex items-center justify-center">
            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
              支援する
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
        <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
          <div class="p-8 text-3xl font-bold text-center border-b-4">
            家族党員
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b py-4">ご家族が既に党員の方が対象</li>
            <li class="border-b py-4">ご家族お一人に付き月100円</li>
            <li class="border-b py-4">内容は一般会員と同等</li>
          </ul>
        </div>
        <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
          <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
          年間1,200円
            <span class="text-base"></span>
          </div>
          <div class="flex items-center justify-center">
            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            支援する
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Change the colour #f8fafc to match the previous section colour -->
<svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
      <g class="wave" fill="#f8fafc">
        <path
          d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
        ></path>
      </g>
      <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
        <g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
          <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
          <path
            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
            opacity="0.100000001"
          ></path>
          <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" opacity="0.200000003"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
<section class="container mx-auto text-center py-6 mb-12">
<h2 class="w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-white">
  無料体験入学に参加する
</h2>
<div class="w-full mb-4">
  <div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
</div>
<h3 class="my-4 text-2xl sm:text-3xl leading-tight">
  無料の体験入学は以下のフォームよりお申し込みください。
</h3>


<div class=" px-4 py-8 bg-white rounded-lg shadow dark:bg-gray-800 sm:px-6 md:px-8 lg:px-10">
<div class="self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl dark:text-white">
  お申し込みフォーム
</div>
<span class="justify-center text-sm text-center text-gray-500 flex-items-center dark:text-gray-400">
ご不明な点などありましたら
  <a href="#" target="_blank" class="text-sm text-blue-500 underline hover:text-blue-700">
      こちら
  </a>までお問い合わせください。
</span>
<div class="text-left p-6 mt-8">
<%= form_with model: @trial, url: confirm_customer_trials_path, local: true, data: { turbo: "false" } do |f| %>
    <div class="flex gap-4 mb-2">
        <div class=" relative ">
        <%= f.label :name, 'お名前', class: 'text-gray-700' %>
        <span class="text-red-500 required-dot">
            *
        </span>
   
    <%= f.text_field :name, class: ' rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent', placeholder: "名前" %>
        </div>
        <div class=" relative ">
        <%= f.label :name_kana, 'お名前(ふりがな)', class: 'text-gray-700' %>
        <span class="text-red-500 required-dot">
            *
        </span>
    <%= f.text_field :name_kana, class: 'rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent', placeholder: "名前(ふりがな)" %>
        </div>
    </div>
<div class="flex flex-col mb-2">
 <div class=" relative ">
 <%= f.label :address, 'お住まいの住所(市町村までで結構です。)', class: 'text-gray-700' %>
    <span class="text-red-500 required-dot">
        *
    </span>
    <%= f.text_area :address, class: 'rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent', placeholder: "住所(市町村までで結構です)" %>
  </div>
</div>
    <div class="flex flex-col mb-2">
        <div class=" relative ">
        <%= f.label :tell, '電話番号', class: 'text-gray-700' %>
        <span class="text-red-500 required-dot">
            *
        </span>
    <%= f.text_field :tell, class: 'rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent', placeholder: "電話番号" %>
        </div>
    </div>
    <div class="flex flex-col mb-2">
        <div class=" relative ">
        <%= f.label :email, 'メールアドレス', class: 'text-gray-700' %>
        <span class="text-red-500 required-dot">
            *
        </span>
    <%= f.email_field :email, class: 'rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent', placeholder: "メールアドレス" %>

        </div>
    </div>

  <div class="flex gap-4 mb-2">
     <div class=" relative ">
     <%= f.label :participants, '参加予定人数(ご自身を含め)', class: 'text-gray-700' %>
        <span class="text-red-500 required-dot">
         *
        </span>
       <%= f.number_field :participants, in: 1..30, class: 'rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent', placeholder: "参加予定人数" %>
     </div>
     <div class=" relative ">
     <%= f.label :date, 'ご希望の参加日程', class: 'text-gray-700' %>          
       <span class="text-red-500 required-dot">
        *
       </span>
      <%= f.select :date, Trial::DATE_ITEMS, {include_blank: "選択して下さい"}, { class: 'rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent'} %>
  </div>
</div>

  <%= f.label :arrival_time, '到着予定時刻（電車でお越しの場合は、最寄り駅の到着時間）', class: 'text-gray-700' %> 
 
    <span class="text-red-500 required-dot">
     *
    </span>
  <%= f.time_field :arrival_time, class: 'flex-1 w-full px-4 py-2 text-base text-gray-700 placeholder-gray-400 bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent' %>

<div class="flex items-center gap-8 pt-2">
<%= f.label :transportation, '当日ご利用の交通手段', class: 'text-gray-700' %> 
<span class="text-red-500 required-dot">
  *
</span>
<label class="inline-flex items-center">
<%= f.radio_button(:transportation, '車') %>
 
      <span class="ml-2 text-gray-700">
          お車
      </span>
  </label>
  <label class="inline-flex items-center">
  <%= f.radio_button(:transportation, '電車') %>
          <span class="ml-2 text-gray-700">
              電車
          </span>
      </label>
      <label class="inline-flex items-center">
  <%= f.radio_button(:transportation, 'それ以外の交通機関') %>
          <span class="ml-2 text-gray-700">
              それ以外の交通機関
          </span>
      </label>
  </div>
  <div class="pt-2">
      <%= f.label :message, '備考', class: 'text-gray-700' %> 
          <span class="ml-2 text-gray-700">
          </span>
      <%= f.text_area :message, size: '10x5', class: 'flex-1 w-full px-4 py-2 text-base text-gray-700 placeholder-gray-400 bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent' %>
  </div>

               <%= f.submit '申し込む', class: "mx-auto lg:mx-0 hover:underline bg-pink-300 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              
              <% end %>
            </div>
            </div>

</section>

<section class="relative overflow-hidden bg-gray-50 dark:bg-gray-900">
<div class="mt-2 md:mt-0 py-12 pb-6 sm:py-16 lg:pb-24 overflow-hidden">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
    <h2 class="w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
    ご入学までの流れ
    </h2>
    <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="relative mt-12 lg:mt-20">
            <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
                <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="875" height="48" viewBox="0 0 875 48"
                    fill="none">
                    <path
                        d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24"
                        stroke="#D4D4D8" stroke-width="3" stroke-linecap="round" stroke-dasharray="1 12" />
                </svg>
            </div>
            <div
                class="relative grid grid-cols-1 text-center gap-y-8 sm:gap-y-10 md:gap-y-12 md:grid-cols-4 gap-x-12">
                <div>
                    <div
                        class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                        <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">1</span>
                    </div>
                    <h3
                        class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                        まずは入学体験に参加
                    </h3>
                    <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400" style="font-family: 'Hiragino Kaku Gothic Pro';">
                        説明会と体験会がセットになった、体験入学会に参加しよう！
                    </p>
                    <%= button_to '体験申込フォーム', {controller: "trials", action: "new"}, {method: :get, :class => "mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank"} %>
                    
                </div>
                <div>
                    <div
                        class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                        <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">2</span>
                    </div>
                    <h3
                        class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                        入学願書の提出
                    </h3>
                    <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400" style="font-family: 'Hiragino Kaku Gothic Pro';">
                        入学希望の方は、願書をダンロードして、事務局に提出してください。
                    </p>
                  
                    <%= link_to '入学願書ダウンロード', image_url("nora_application_form.pdf"), { :class => "mx-auto lg:mx-0 hover:underline gradient text-white text-center font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out flex flex-col", :id => "navAction", :target => "_blank"} %>
                   
                </div>
                <div>
                    <div
                        class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                        <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">3</span>
                    </div>
                    <h3
                        class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                        入学手続き
                    </h3>
                    <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400" style="font-family: 'Hiragino Kaku Gothic Pro';">
                       合否の通知後、所定の用紙にて、ご入学の意手続きをお願いします。
                    </p>
                </div>
                <div>
                <div
                    class="flex items-center justify-center w-16 h-16 mx-auto bg-pink-300 dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                    <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">4</span>
                </div>
                <h3
                    class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                    入学式
                </h3>
                <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400" style="font-family: 'Hiragino Kaku Gothic Pro';">
                    春入学(4月開校)、夏入学(8月開校)、冬入学（2月開校）
                </p>
            </div>
            </div>
        </div>
    </div>
</div>

</section>


<section class="bg-gray-100 py-8">
  <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
    <h2 class="w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
      募集要項
    </h2>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
<table class="table p-4 bg-white rounded-lg shadow w-full">
    <thead>
        <tr>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">
                
            </th>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">
                
            </th>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">
                
            </th>
            
        </tr>
    </thead>
    <tbody style="font-family: 'Hiragino Kaku Gothic Pro';">
        <tr class="text-gray-700 ">
            <td class="border-b-2 p-4 dark:border-dark-5 font-bold">
            入学要件
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
            高校卒業程度(入学時 満18歳以上)
            </td>
            
            
        </tr>
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
            開校時間
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
            通常　平日9:00〜17:00　土日祝日13:00〜17:00　（土用の期間を中心にランダム）
            </td>
           
        </tr>
        <tr class="text-gray-700">
        <td class="border-b-2 p-4 dark:border-dark-5">
        </td>
        <td class="border-b-2 p-4 dark:border-dark-5">
        サマータイム　平日7:00〜11:00／15:00〜19:00　土日祝日　15:00〜19:00
        </td>
       
    </tr>
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
               開校場所
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
            FarmersKitchen NoraCafe周辺の圃場（兵庫県丹波市春日町多田1534）　並びに講師農家の各圃場
            </td>
           
           
        </tr>
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
            開校期間
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
        春開校　令和6年4月5日〜令和7年3月末日
        </td>
           
        </tr>
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
            
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
        夏開校　令和6年7月15日〜令和7年6月末日
        </td>
           
        </tr>
        <tr class="text-gray-700">
        <td class="border-b-2 p-4 dark:border-dark-5">
        
        </td>
        <td class="border-b-2 p-4 dark:border-dark-5">
    冬開校　令和7年1月15日〜令和8年12月末日
    </td>
       
    </tr>
    

 
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    総受講時間
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    400時間（200コマ）週2日程度＋土用期間(年4回)の集中講座
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    自家農園での作付け自習　1200時間程度（週5日、全日、出入り自由）
</td>
   
</tr>

<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    募集期間
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    令和6年4月入学　願書〆切　令和6年3月末日（消印有効）まで
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
   
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    令和6年7月入学　願書〆切　令和6年6月末日（消印有効）まで
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
  
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    令和7年1月入学　願書〆切　令和6年12月末日（消印有効）まで
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
  
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    テーマ別・ビジター参加者の方　随時募集
</td>
   
</tr>

<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    定員
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    各期10名程度
</td>
   
</tr>

<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    費用
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    のら自然農塾　年間36万（昼食補助、家賃補助あり）
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    テーマ別受講　年間12万円（詳細は別途お問い合わせください。）
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    ビジター参加　3,300円(一回)
</td>
   
</tr>
    
    </tbody>
</table>
</div>
</section>

<section class="bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h2 class="w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
      アクセス
    </h2>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
          お車でお越しの方
        </h3>
        <p class="text-gray-600 mb-8">
        のら自然農塾事務局<br />
        FARMERS KITCHEN Nora cafe内<br />
        兵庫県丹波市春日町多田1534<br />
        <br />
        舞鶴若狭自動車道（春日インター）より車で3分<br />
        黒井駅から2,265m<br />
          <br />
          <br />

          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
          電車でお越しの方
        </h3>
        <p class="text-gray-600 mb-8">
       JR福知山線　黒井駅下車<br />
       各主要駅から黒井駅までの所要時間（目安）<br />
       JR新大阪駅から約1時間50分<br />
       JR京都駅から約2時間20分
        <br />
          <br />
          黒井駅発着時刻表は<a class="text-pink-500 underline" href="https://www.jr-odekake.net/eki/timetable?id=0630313" target="_blank">こちら（JRおでかけネット）</a>
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
     
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.1218603436905!2d135.11653067570538!3d35.17851517275365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60000f879e8b9fd5%3A0xed40bd44bcff2c19!2sFARMERS%20KITCHEN%20Nora%20cafe!5e0!3m2!1sja!2sjp!4v1708410243906!5m2!1sja!2sjp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
      </div>
    </div>
</div>
</section>

<section class="bg-white py-8">
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
        <%= image_tag "burey.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
        <div>
        <%= image_tag "hotchiri.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
        <div>
        <%= image_tag "dish.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
        <%= image_tag "miso.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
        <div>
        <%= image_tag "riceplant.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
        <div>
        <%= image_tag "rice.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
        <%= image_tag "market.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
        <div>
        <%= image_tag "smallbeen.jpeg", class: "h-auto max-w-full rounded-lg" %>
        </div>
        <div>
        <%= image_tag "indigo.jpeg", class: "h-auto max-w-full rounded-lg" %>
         
        </div>
    </div>
    <div class="grid gap-4">
        <div>
        <%= image_tag "riceplant2.jpeg", class: "h-auto max-w-full rounded-lg" %>
        
        </div>
        <div>
        <%= image_tag "bamboo.jpeg", class: "h-auto max-w-full rounded-lg" %>
            
        </div>
        <div>
        <%= image_tag "tracter.png", class: "h-auto max-w-full rounded-lg" %>
            
    </div>
</div>
</section>


